@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer components {
  .section-title {
    margin-bottom: 0.5rem;
    font-weight: 100;
    text-transform: uppercase;
    font-size: theme('fontSize.2xl');
  }

  .dot-pattern {
    background-color: rgba(255, 255, 255, 0);
    opacity: 1;
    background-image: radial-gradient(
        rgba(9, 9, 11, 1) 0.75px,
        transparent 0.75px
      ),
      radial-gradient(rgba(9, 9, 0, 1) 0.75px, rgba(255, 255, 255, 0) 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
  }
}
